			<section id="intro" class="section section-main active">
				<div class="container-fluid">
					<div class="v-align">
						<div class="inner">
							<div class="intro-text">
								<h1>This is Morris Hsieh</h1>
								<p class="tagline">Christian &nbsp;|&nbsp; New Yorker &nbsp;|&nbsp; City Walker &nbsp;|&nbsp; Food Lover</p>
								<p>Data Engineer based in New York City</p>
								<div class="identity-tags">
									<a href="/resume/" class="section-toggle" data-section="resume">DATA ENGINEER</a>
									<a href="/travel/" class="section-toggle" data-section="travel">TRAVEL</a>
									<a href="/dining/" class="section-toggle" data-section="dining">DINING</a>
								</div>
								<div class="intro-btns">
									<a href="/about/" class="btn-custom section-toggle" data-section="about">Discover me</a>
									<a href="/contact/" class="btn-custom section-toggle" data-section="contact">Contact me</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
