			<section id="intro" class="section section-main active">
				<div class="container-fluid">
					<div class="v-align">
						<div class="inner">
							<div class="intro-text">
								<h1>This is Morris Hsieh</h1>
								<p>Data Scientist &amp; LLM Engineer based in New York City</p>
								<p class="tagline">Christian ✝️ &nbsp;|&nbsp; New Yorker 🗽 &nbsp;|&nbsp; City Walker 🚶 &nbsp;|&nbsp; Food Lover 😋</p>
								<div class="identity-tags">
									<span>DATA SCIENCE</span>
									<span>NYC HISTORY</span>
									<span>TRAVEL</span>
									<span>DINING</span>
								</div>
								<div class="intro-btns">
									<a href="#about" class="btn-custom section-toggle" data-section="about">Discover me</a>
									<a href="#contact" class="btn-custom section-toggle" data-section="contact">Contact me</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
