			<section id="intro" class="section section-main active">
				<div class="container-fluid">
					<div class="v-align">
						<div class="inner">
							<div class="intro-text">
								<h1>This is <br class="intro-nl">Morris Hsieh</h1>
								<p class="tagline"><span class="tagline-row"><span class="tagline-left">Christian</span><span class="tagline-sep">|</span><span class="tagline-right">New Yorker</span></span><span class="tagline-pipe">|</span><span class="tagline-row"><span class="tagline-left">City Walker</span><span class="tagline-sep">|</span><span class="tagline-right">Food Lover</span></span></p>
								<p>Data Engineer based in New York City</p>
								<div class="identity-tags">
									<a href="/resume/" class="section-toggle" data-section="resume">DATA ENGINEER</a>
									<a href="/travel/" class="section-toggle" data-section="travel">TRAVEL</a>
									<a href="/dining/" class="section-toggle" data-section="dining">DINING</a>
								</div>
								<div class="intro-btns">
									<a href="/about/" class="btn-custom section-toggle" data-section="about">Discover me</a>
									<a href="/contact/" class="btn-custom section-toggle" data-section="contact">Contact me</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
