			<!-- Gallery -->
			<section id="portfolio" class="section portfolio-section border-d">

				<div class="section-block portfolio-block">
					<div class="container-fluid">
						<div class="section-header">
							<h2>My <strong class="color">Gallery</strong></h2>
						</div>

						<ul class="portfolio-filters">
							<li><a href="#" data-group="all" class="active">All</a></li>
							<li><a href="#" data-group="travel">Travel</a></li>
							<li><a href="#" data-group="nyc">NYC</a></li>
							<li><a href="#" data-group="career">Career</a></li>
							<li><a href="#" data-group="life">Life</a></li>
						</ul>

						<ul class="portfolio-items">

							<li class="portfolio-item" data-groups='["all", "travel"]'>
								<div class="inner">
									<img src="img/gallery/exp1_russ.JPG" alt="Trade fair in Russia">
									<div class="overlay">
										<a href="#popup-europe15" class="view-project">View More</a>
									</div>
								</div>
								<div id="popup-europe15" class="popup mfp-hide">
									<div class="popup-inner">
										<div class="popup-slider owl-carousel">
											<div class="item">
												<figure><img src="img/gallery/exp1_russ.JPG" alt="Russia"></figure>
												<div class="content"><h4>Trade Fair in Russia</h4><p>St. Petersburg B2B conference</p></div>
											</div>
											<div class="item">
												<figure><img src="img/gallery/exp1_nokia.JPG" alt="Nokia"></figure>
												<div class="content"><h4>Visit Nokia HQ</h4><p>Helsinki, Finland</p></div>
											</div>
											<div class="item">
												<figure><img src="img/gallery/exp1_sweden.JPG" alt="Sweden"></figure>
												<div class="content"><h4>Hammarby Sjöstad</h4><p>Sustainable city tour, Stockholm</p></div>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="portfolio-item" data-groups='["all", "travel"]'>
								<div class="inner">
									<img src="img/gallery/exp2_oslo.JPG" alt="Norway trade fair">
									<div class="overlay">
										<a href="#popup-europe16" class="view-project">View More</a>
									</div>
								</div>
								<div id="popup-europe16" class="popup mfp-hide">
									<div class="popup-inner">
										<div class="popup-slider owl-carousel">
											<div class="item">
												<figure><img src="img/gallery/exp2_oslo.JPG" alt="Oslo"></figure>
												<div class="content"><h4>Trade Fair in Norway</h4><p>Oslo B2B conference</p></div>
											</div>
											<div class="item">
												<figure><img src="img/gallery/exp2_russia.JPG" alt="St Petersburg"></figure>
												<div class="content"><h4>Banquet at St. Petersburg</h4><p>CIECA dinner</p></div>
											</div>
											<div class="item">
												<figure><img src="img/gallery/exp2_poland.JPG" alt="Warsaw"></figure>
												<div class="content"><h4>Business Meeting</h4><p>Taiwan-Poland, Warsaw</p></div>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="portfolio-item" data-groups='["all", "travel"]'>
								<div class="inner">
									<img src="img/gallery/exp3_1.JPG" alt="China exchange">
									<div class="overlay">
										<a href="#popup-china" class="view-project">View More</a>
									</div>
								</div>
								<div id="popup-china" class="popup mfp-hide">
									<div class="popup-inner">
										<div class="popup-slider owl-carousel">
											<div class="item">
												<figure><img src="img/gallery/exp3_1.JPG" alt="Exchange"></figure>
												<div class="content"><h4>Academic Exchange</h4><p>Yibin Third School conference</p></div>
											</div>
											<div class="item">
												<figure><img src="img/gallery/exp3_7.JPG" alt="Parade"></figure>
												<div class="content"><h4>Victory Day Parade</h4><p>2015 China commemoration</p></div>
											</div>
											<div class="item">
												<figure><img src="img/gallery/exp3_10.JPG" alt="Wuliangye"></figure>
												<div class="content"><h4>Wuliangye Distillery</h4><p>Yibin, Sichuan</p></div>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="portfolio-item" data-groups='["all", "career"]'>
								<div class="inner">
									<img src="img/gallery/exp4_1.jpg" alt="Sinovation internship">
									<div class="overlay">
										<a href="#popup-intern" class="view-project">View More</a>
									</div>
								</div>
								<div id="popup-intern" class="popup mfp-hide">
									<div class="popup-inner">
										<div class="popup-slider owl-carousel">
											<div class="item">
												<figure><img src="img/gallery/exp4_1.jpg" alt="Intern"></figure>
												<div class="content"><h4>Sinovation Ventures</h4><p>AI summer camp operations</p></div>
											</div>
											<div class="item">
												<figure><img src="img/gallery/exp4_3.jpg" alt="Ceremony"></figure>
												<div class="content"><h4>Final Ceremony</h4><p>Deecamp graduation day</p></div>
											</div>
											<div class="item">
												<figure><img src="img/gallery/exp4_4.jpg" alt="Certificate"></figure>
												<div class="content"><h4>Official Certificate</h4><p>Sinovation Ventures HR</p></div>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="portfolio-item" data-groups='["all", "life"]'>
								<div class="inner">
									<img src="img/gallery/oth1_1.jpg" alt="Church camp">
									<div class="overlay">
										<a href="#popup-church" class="view-project">View More</a>
									</div>
								</div>
								<div id="popup-church" class="popup mfp-hide">
									<div class="popup-inner">
										<div class="popup-slider owl-carousel">
											<div class="item">
												<figure><img src="img/gallery/oth1_1.jpg" alt="Camp"></figure>
												<div class="content"><h4>Spring Camp</h4><p>Church assistant — On the Way</p></div>
											</div>
											<div class="item">
												<figure><img src="img/gallery/oth1_2.jpg" alt="Ice breaker"></figure>
												<div class="content"><h4>Break the Ice</h4><p>Camp activities</p></div>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li class="portfolio-item" data-groups='["all", "life"]'>
								<div class="inner">
									<img src="img/gallery/oth2_1.JPG" alt="Childhood photo">
									<div class="overlay">
										<a href="#popup-childhood" class="view-project">View More</a>
									</div>
								</div>
								<div id="popup-childhood" class="popup mfp-hide">
									<div class="popup-inner">
										<div class="item">
											<figure><img src="img/gallery/oth2_1.JPG" alt="Childhood"></figure>
											<div class="content"><h4>Old Photo</h4><p>In commemoration of my childhood</p></div>
										</div>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>

			</section>
